.pads{
  padding: 4rem 0;
}

body{
  background-image: linear-gradient(to bottom, red,orange,yellow,green,blue,indigo,violet);
}

li{
  font-size: 2em;
  color: white;
}

.box{
  position: fixed;
  right: 0;
  bottom: 0;
}
